#Nav_rignt{width:33px;height:920px;background:#000000;position:fixed;right:0;top:0;}
#Nav_rignt a{display:block;width:33px;height:53px;padding-left:6px;padding-top:13px;color:white;}
#Nav_rignt a:hover{color:#fff;background:#a90a0a;}
#Nav_rignt a.st{margin-top:280px;background-position: -1px 0 ;}
#Nav_rignt a.se i{background-position: -1px -28px ;}
#Nav_rignt a.th i{background-position: -2px -52px ;}
#Nav_rignt a.last i{background-position: -1px -78px ;}
#Nav_rignt a.last{height:130px;}
#Nav_rignt a.last p{height:20px;width:20px;background:#a90a0a;border-radius:10px;margin:4px 0 0 1px;text-align:center;}
#Nav_rignt a.last span{display:block;letter-spacing:18px;padding-left:4px;}
#Nav_rignt a i{display:block;width:21px;height:21px;margin-bottom:5px;background:url(../img/rifu.png) no-repeat;}
#Nav_rignt a span{font-size:12px;line-height:24px;}

#Nav_rignt2{width:90px;height:257px;border-top:2px solid #cf1321;border-left:1px solid #e1e1e1 ;border-bottom:1px solid #e1e1e1 ;padding:3px 0 0 5px;
background:#fffaf6;position:fixed;right:33px;top:340px;}
#Nav_rignt2 a{display:block;}
#Nav_rignt2 a.a1{background:url(../img/bgg.png) 0 -61px no-repeat;height:43px;}
#Nav_rignt2 a.a2{background:url(../img/bgg.png) -22px -33px no-repeat;height:30px;border-bottom:1px dashed #e1e1e1;}
#Nav_rignt2 a.a3{background:url(../img/bgg.png) -95px -59px no-repeat;height:52px;border-bottom:1px dashed #e1e1e1;}
#Nav_rignt2 a.a4{background:url(../img/bgg.png) 0px -104px no-repeat;height:49px;border-bottom:1px dashed #e1e1e1;}
#Nav_rignt2 a.a5{background:url(../img/bbg.jpg) 0px 4px no-repeat;height:51px;}
#Nav_rignt2 a.a6{background:url(../img/bgg.png) -95px -108px no-repeat;height:27px;border-bottom:1px solid #e1e1e1;border-top:1px solid #e1e1e1;}